/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

div.user-photo {
  margin: 30px auto;
  text-align: center;
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0 !important;
  width: 33.33%;
}

.ant-layout-header {
  padding: 0px 25px !important;
}

div.header-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

div.header-container > * {
  display: inline-block;
}

.ant-card-bordered {
  display: inline-block;
}

.login-form, .register-form {
  max-width: 300px;
  margin: 0 auto !important;
}
.login-form-button, .register-form-button {
  width: 100%;
}

.slick-slide {
  margin: 0px 8px;
}

.detailed-merm-header {
  display: inline-block;
  width: 100%;
}

.detailed-merm-header > div > h1 {
  padding-left: 15px;
  margin-bottom: 0px;
}

.detailed-merm-header >  div > * {
  display: inline-block;
}

div.ant-card-body {
  padding: 10px !important;
}

div.merm-card-outer {
  width: 270px;
  text-align: left;
}

div.merm-card-outer > div.ant-card-body {
  padding: 16px;
}

div.merm-card-inner {
  width: 100%;
  border: none;
}

div.merm-card-inner > div.ant-card-body {
  padding: 4px 0 !important
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0px !important;
}

.ant-form-item-control {
  text-align: center;
}

.ant-list {
  text-align: left;
}

.ant-divider-horizontal.ant-divider-with-text-left:before {
  width: 0% !important;
}

.merm-overview-container {
  padding-left: 25px;
  text-align: left;
}

.shared-with {
  padding-left: 25px;
}

.ant-avatar.ant-avatar-icon {
 margin: 0 10px;
}

button.favorite-button {
  border: 0px;
  box-shadow: none;
}

.comment-container {
  padding: 0 75px !important;
}

.ant-divider-horizontal.comment-divider {
  margin: 0 0;
}

.comment-editor * div.ant-form-item-control {
  text-align: right;
}
.ant-tabs-ink-bar{
  width: 456.28px !important;
}
